body{
    margin: 0;
    padding: 0%;
}

header{
    
    height: 70px;

    
}

h1{
    margin: 0;
    color: #000;
    border: solid 20px red;
    justify-content: center;
    background-color: rgb(255, 0, 0);
}


h2{
    background-color: aqua;
}